/* latin */
@font-face {
    font-family: 'SB Heading';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
        url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459WRhyyTh89ZNpQ.woff2)
            format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
        U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
    font-family: 'SB Heading';
    font-style: normal;
    font-weight: 700;
    src: local('Montserrat Bold'), local('Montserrat-Bold'),
        url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_dJE3gnD_vx3rCs.woff2)
            format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
        U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/*farsi*/

@font-face {
    font-family: Vazir;
    src: url('node_modules/vazir-font/dist/Vazir.eot');
    src: url('node_modules/vazir-font/dist/Vazir.eot?#iefix') format('embedded-opentype'),
    url('node_modules/vazir-font/dist/Vazir.woff2') format('woff2'),
    url('node_modules/vazir-font/dist/Vazir.woff') format('woff'),
    url('node_modules/vazir-font/dist/Vazir.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: Vazir;
    src: url('node_modules/vazir-font/dist/Vazir-Bold.eot');
    src: url('node_modules/vazir-font/dist/Vazir-Bold.eot?#iefix') format('embedded-opentype'),
    url('node_modules/vazir-font/dist/Vazir-Bold.woff2') format('woff2'),
    url('node_modules/vazir-font/dist/Vazir-Bold.woff') format('woff'),
    url('node_modules/vazir-font/dist/Vazir-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family:  Vazir;
    src: url('node_modules/vazir-font/dist/Vazir-Black.eot');
    src: url('node_modules/vazir-font/dist/Vazir-Black.eot?#iefix') format('embedded-opentype'),
    url('node_modules/vazir-font/dist/Vazir-Black.woff2') format('woff2'),
    url('node_modules/vazir-font/dist/Vazir-Black.woff') format('woff'),
    url('node_modules/vazir-font/dist/Vazir-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: Vazir;
    src: url('node_modules/vazir-font/dist/Vazir-Medium.eot');
    src: url('node_modules/vazir-font/dist/Vazir-Medium.eot?#iefix') format('embedded-opentype'),
    url('node_modules/vazir-font/dist/Vazir-Medium.woff2') format('woff2'),
    url('node_modules/vazir-font/dist/Vazir-Medium.woff') format('woff'),
    url('node_modules/vazir-font/dist/Vazir-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: Vazir;
    src: url('node_modules/vazir-font/dist/Vazir-Light.eot');
    src: url('node_modules/vazir-font/dist/Vazir-Light.eot?#iefix') format('embedded-opentype'),
    url('node_modules/vazir-font/dist/Vazir-Light.woff2') format('woff2'),
    url('node_modules/vazir-font/dist/Vazir-Light.woff') format('woff'),
    url('node_modules/vazir-font/dist/Vazir-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: Vazir;
    src: url('node_modules/vazir-font/dist/Vazir-Thin.eot');
    src: url('node_modules/vazir-font/dist/Vazir-Thin.eot?#iefix') format('embedded-opentype'),
    url('node_modules/vazir-font/dist/Vazir-Thin.woff2') format('woff2'),
    url('node_modules/vazir-font/dist/Vazir-Thin.woff') format('woff'),
    url('node_modules/vazir-font/dist/Vazir-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
